html
	head
		title FProject

		link(rel="stylesheet", href="css/styles.css")

		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js")
		script(src="js/scripts.js")

	body
		h1 FProject main page